/* 顶部浮动 */
.navbar {
    height: 1.22667rem;
    z-index: 100;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 50%;
    width: 10rem;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    -webkit-user-select: none;
    user-select: none;
    background: linear-gradient(90deg, #FF605A 0%, #D61F24 100%);
    z-index: 100;
}

.navbar-fixed .navbar__content-left,.navbar-fixed .navbar__content-right,.navbar-fixed .navbar__content-title,.navbar-fixed .navbar__content-left .van-icon,.navbar-fixed .navbar__content-right .van-icon,.navbar-fixed .navbar__content-title .van-icon {
    color: #fff
}

.navbar__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 1.22667rem
}

.navbar__content-left {
    position: absolute;
    left: .32rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    top: 0
}

.navbar__content-left .backIcon {
    width: .64rem;
    height: .64rem;
    background-size: .64rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/backBtn.png)
}

.navbar__content-left img {
    height: 80%;
}

.navbar__content-center {
    color: #333;
    font-size: .48rem;
    line-height: .48rem
}

.navbar__content-center .headLogo {
    width: 2.98667rem;
    height: 1.12rem;
    background-repeat: no-repeat;
    background-size: 2.98667rem 1.12rem;
    background-position: center
}

.navbar__content-right {
    position: absolute;
    right: .32rem
}

@media screen and (max-width: 500px) {
    .navbar-fixed {
        width:100%;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translate(0)
    }
}





/*=================== 底部菜单 ===================*/
.tabbar__container {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    width: 10rem;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    height: 1.96rem;
    padding-block:0 .13333rem;font-size: .29333rem;
    background: url(../images/tabBarBg.png) no-repeat top center/cover;
    z-index: 100
}

.tabbar__container-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    color: #303133;
    position: relative
}

.tabbar__container-item svg {
    display: block;
    width: .5776rem;
    height: .59387rem
}

.tabbar__container-item.active {
    color: #eb8a1f
}

.tabbar__container-item.active svg circle {
    fill: #eb8a1f
}

.tabbar__container-item.active svg path {
    fill: #eb8a1f
}

.tabbar__container-item.active svg.wallet path {
    fill: none;
    stroke: #eb8a1f
}

.tabbar__container-item.active>div.home {
    background-image: url(../images/home-r.png)
}

.tabbar__container-item.active>div.activity_icon {
    background-image: url(../images/activity-r.png)
}

.tabbar__container-item.active>div.wallet {
    background-image: url(../images/wallet-r.png)
}

.tabbar__container-item.active>div.main {
    background-image: url(../images/main-r.png)
}

.tabbar__container-item>div {
    background-size: .64rem;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: .74667rem;
    min-width: .64rem;
    text-align: center
}

.tabbar__container-item>div.home {
    background-image: url(../images/home.png)
}

.tabbar__container-item>div.activity_icon {
    background-image: url(../images/activity.png)
}

.tabbar__container-item>div.promotion_icon {
    width: 1.6rem;
    height: 2.4rem;
    padding-top: 1.97333rem;
    text-align: center;
    background-size: 1.94667rem;
    background-image: url(../images/promotionBg_1.png)
}

.tabbar__container-item>div.wallet {
    background-image: url(../images/wallet.png)
}

.tabbar__container-item>div.main {
    background-image: url(../images/main.png)
}

@media screen and (max-width: 500px) {
    .tabbar__container {
        width:100%;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translate(0)
    }
}






.content_home {
    /* font-family: bahnschrift; */
    padding-bottom: 2.6rem;
    background: #f5f0f0;
}

.content_home .content__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.content_home .content__right .message {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.content_home .content__right .message img {
    width: .64rem;
    height: .64rem
}

.content_home .content__right .point {
    position: absolute;
    top: .02667rem;
    right: 0
}

.content_home .content__right .down {
    font-size: .53333rem;
    margin-top: -.13333rem;
    width: .64rem;
    height: .64rem;
    margin-left: .64rem
}



.title {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0.64rem;
    padding-left: 0.77333rem;
    height: 0.64rem;
    font-size: 0.4rem;
    font-weight: 700;
    color: rgb(21, 21, 21);
    margin-bottom: 0.26667rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}




/*=============== banner ===============*/
.my-swipe {
    width: 100%;
    height: 4.50667rem;
    box-sizing: border-box
}

.my-swipe img {
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(0 .05333rem .05333rem rgba(208,208,237,.36));
    filter: drop-shadow(0 .05333rem .05333rem rgba(208,208,237,.36))
}



/*=============== 公告 ===============*/


.noticeBar__container-body {
    width: 9.33333rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    height: .8rem;
    line-height: .98667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 .2rem;
}

.noticeBar__container-body-text {
    width: 100%;
    height: -webkit-fit-content;
    height: fit-content;
    max-height: .98667rem;
    line-height: .49333rem;
    -webkit-animation: marquee-d9367744 7s linear infinite;
    animation: marquee-d9367744 7s linear infinite;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: column;
    -webkit-justify-content: column;
    justify-content: column;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all
}

@-webkit-keyframes marquee-d9367744 {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@keyframes marquee-d9367744 {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

.noticeBar__container>svg {
    width: .42667rem;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: auto;
    margin-right: .22667rem
}



/*============ 金刚区图标 ============*/
.home_menu {
    padding: .42667rem .34667rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: .46667rem;
}

.home_menu .menu_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: .46667rem;
    margin: auto;
    align-self: stretch;
    height: 100%;
    cursor: pointer;
}

.home_menu .menu_item .img_bg {
    width: 100%;
    height: 100%;
    margin-bottom: .18667rem;

    background: url(../images/type.png) no-repeat center;
    background-size: 100% 100%;
    padding: 10px;
}


.home_menu .menu_item img {
    width: 100%;
    /* height: 100%; */
}

.home_menu .menu_item span {
    color: #333;
    font-size: .32rem;
    line-height: .32rem;
    text-align: center
}

.home_menu .menu_item.action .img_bg {
    background: url(../images/type_chosed.png) no-repeat center;
    background-size: 100% 100%;
}

.home_menu .menu_item.action span {
    color: #D61F24
}


.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
    z-index: 99999;
}





/*=================== 游戏banner列表 ===================*/


.home_container {
    padding: 0 .34667rem;
}

.home_container:not(:first-child) {
    display: none;
}

.title {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: .64rem auto;
    padding-left: .77333rem;
    height: .64rem;
    font-size: .4rem;
    font-weight: 700;
    color: #151515;
    margin-bottom: .26667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.lotterySlotItem {
    position: relative;
    width: 100%;
    height: 3.90667rem;
    text-align: end;
    margin-bottom: .65333rem;
    border-radius: .34667rem;
    background: #ffffff;
    box-shadow: 0 .05333rem .10667rem #c5c5da42;
    /* border-radius: 26px */
}

.lotterySlotItem .lottery {
    width: 100%;
    height: 2.78667rem;
    position: relative
}

.lotterySlotItem .lottery .lottery_bg {
    width: 100%;
    height: 2.78667rem
}

.lotterySlotItem .lottery .lottery_logo {
    width: 2.66667rem;
    height: 2rem;
    position: absolute;
    right: -.13333rem;
    top: -.34667rem
}

.lotterySlotItem .lottery span {
    position: absolute;
    top: .46667rem;
    left: .4rem;
    color: #fff;
    white-space: break-spaces;
    font-weight: 700;
    font-size: .56rem
}

.lotterySlotItem .lottery h4 {
    color: #f4f5f8;
    font-weight: 400;
    font-size: .29333rem;
    position: absolute;
    bottom: .26667rem;
    left: .4rem;
    /* white-space: pre-wrap; */
    text-align: left;
    line-height: .46667rem
}

.win_info {
    height: 1.12rem;
    overflow: hidden
}

.win_info .win_item {
    /* background: #f4f5f8; */
    color: #000;
    font-size: .32rem;
    height: 1.12rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.win_info .win_item .left {
    margin-left: .4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.win_info .win_item .left img {
    width: .8rem;
    height: .8rem;
    margin-right: .29333rem;
    border-radius: 50%;
}

.win_info .win_item .right {
    margin-right: .32rem
}




/*=============== 第三方游戏列表 ===============*/
.other_game {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: .50667rem;
    margin-bottom: .4rem
}

.other_game .other_img {
    width: 100%;
    height: auto;
    border-radius: .26667rem;
    background: -webkit-linear-gradient(293deg,#ED2C33 0%,#FECDC9 100%);
    background: linear-gradient(157deg,#ED2C33 0%,#FECDC9 100%);
    box-shadow: 0 -.05333rem .13333rem #fff6f4 inset,0 .10667rem .21333rem .05333rem #d0d0ed5c
}


.flash_game {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: .32rem;
    margin-bottom: .82667rem
}

.flash_game .gameImg {
    width: 100%;
    /* height: 2.88rem */
}

.all_btn {
    border: .01333rem solid #ED2C33;
    border-radius: .8rem;
    width: 6.93333rem;
    height: .93333rem;
    text-align: center;
    line-height: .93333rem;
    color: #ED2C33;
    margin: .4rem auto;
    font-size: .34667rem
}


.hot_container .platform,.hot_container .popular {
    margin-bottom: .34667rem
}

.hot_container .platform .title,.hot_container .popular .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: .21333rem
}

.hot_container .platform .title span,.hot_container .popular .title span {
    font-size: .4rem;
    line-height: .4rem;
    font-weight: 700
}

.hot_container .platform .list,.hot_container .popular .list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: .18667rem
}

.hot_container .platform .list>div,.hot_container .popular .list>div {
    /* width: 2.93333rem */
}

.hot_container .platform .list .item,.hot_container .popular .list .item {
    /* width: 2.93333rem; */
    position: relative;
    /* height: 2.93333rem; */
    background: -webkit-linear-gradient(293deg,#ED2C33 0%,#FECDC9 100%);
    background: linear-gradient(157deg,#ED2C33 0%,#FECDC9 100%);
    box-shadow: 0 .10667rem .21333rem #d0d0ed5c,inset 0 -.05333rem .13333rem #fff6f4;
    border-radius: .21333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: .16rem
}

.hot_container .platform .list .item img,.hot_container .popular .list .item img {
    width: 100%;
    height: 100%;
    border-radius: .21333rem
}

.hot_container .platform .list .item .hot_bage,.hot_container .popular .list .item .hot_bage {
    position: absolute;
    right: -.08rem;
    top: -.10667rem;
    width: .50667rem;
    height: .48rem
}

.hot_container .platform .list .win-odds,.hot_container .popular .list .win-odds {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: .48rem;
    background: #E6E6E6;
    color: #333;
    width: 100%;
    border-radius: .13333rem;
    font-size: .29333rem;
    overflow: hidden;
    margin-top: .08rem;
    margin-bottom: .13333rem;
    position: relative
}

.hot_container .platform .list .win-odds span,.hot_container .popular .list .win-odds span {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    line-height: .53333rem
}

.hot_container .platform .list .win-odds span:first-child,.hot_container .popular .list .win-odds span:first-child {
    background: -webkit-linear-gradient(left,#FF9901 0%,#E57201 100%);
    background: linear-gradient(90deg,#FF9901 0%,#E57201 100%);
    padding-left: .13333rem
}

.hot_container .platform .list .win-odds span:last-child,.hot_container .popular .list .win-odds span:last-child {
    text-align: right;
    padding-right: .13333rem
}

.hot_container .platform .list .win-odds .win-p,.hot_container .popular .list .win-odds .win-p {
    background: #FA5D5D;
    position: absolute;
    left: 0;
    height: 100%
}




/*=============== 滚动信息 ===============*/
.luckyWinners__container {
    padding: 0 .34667rem;
}

.luckyWinners__container>h1 {
    position: relative;
    margin-bottom: .34667rem;
    padding-left: .26667rem;
    font-size: .48rem;
    font-weight: 700;
}

.luckyWinners__container>h1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: .08rem;
    height: .4rem;
    background: #D61F24;
}

.luckyWinners__container-wrapper {
    height: 8.66667rem;
    overflow: hidden;
}

.luckyWinners__container-wrapper__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 1.6rem;
    margin-bottom: .13333rem;
    padding: .26667rem .24rem;
    border-radius: .13333rem;
    background: #fff;
    box-shadow: 0 .05333rem .21333rem #d0d0ed5c;
    /* -webkit-animation: marquee-rank 7s linear infinite;
    animation: marquee-rank 7s linear infinite; */
}


/* @-webkit-keyframes marquee-rank {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@keyframes marquee-rank {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
} */

.active{
    height: 40px;
animation:myfirst 1s;
-moz-animation:myfirst 1s; /* Firefox */
-webkit-animation:myfirst 1s; /* Safari and Chrome */
}
.blockList li{

}


@keyframes myfirst
{
  from {
    background: rgba(0,36,49,1);
    height:0px;
    opacity: 0;
  
  }
 to {
    height:40px;
    opacity: 1;
    background: rgba(0,36,49,1);
  }

}

@-moz-keyframes myfirst /* Firefox */
{
 from {
    background: rgba(0,36,49,1);
    height:0px;
    opacity: 0;
  
  }
  to {
    background: rgba(0,36,49,1);
    height:40px;
    opacity: 1;
  }
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
 from {
    background: rgba(0,36,49,1);
    height:0px;
    opacity: 0;
  
  }
to {
    background: rgba(0,36,49,1);
    height:40px;
    opacity: 1;
  }
}


.luckyWinners__container-wrapper__item-img {
    margin-right: .17333rem;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none
}

.luckyWinners__container-wrapper__item-img img {
    width: 1.06667rem;
    height: 1.06667rem;
    border-radius: 50%
}

.luckyWinners__container-wrapper__item-info {
    width: 2.24rem;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none
}

.luckyWinners__container-wrapper__item-info h1 {
    color: #243047;
    font-size: .3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}

.luckyWinners__container-wrapper__item-info span {
    color: #aeb0c6;
    font-size: .29333rem
}

.luckyWinners__container-wrapper__item-winType {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 1.68rem;
    height: 1.09333rem;
    margin-right: .22667rem;
    position: relative
}

.luckyWinners__container-wrapper__item-winType img {
    width: 100%;
    height: 100%
}

.luckyWinners__container-wrapper__item-winAmount {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.luckyWinners__container-wrapper__item-winAmount h1 {
    color: #333;
    font-size: .32667rem;
    font-weight: 600;
    margin-bottom: .13333rem
}

.luckyWinners__container-wrapper__item-winAmount span {
    color: #aeb0c6;
    font-size: .32rem
}

.luckyWinners__container-wrapper__item .gameTypeImg {
    width: 1.68rem;
    height: 1.09333rem;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    border-radius: .21333rem;
    background: -webkit-linear-gradient(332deg,#ED2C33 26.37%,#FECDC9 89.18%);
    background: linear-gradient(118deg,#ED2C33 26.37%,#FECDC9 89.18%);
    box-shadow: 0 -.05333rem .13333rem #fff inset
}






/*================ 排行榜 ================*/
.dailyProfitRank {
    padding: .66667rem .34667rem .13333rem
}

.dailyProfitRank h1 {
    position: relative;
    margin-bottom: 1.89333rem;
    padding-left: .26667rem;
    font-size: .48rem;
    font-weight: 700
}

.dailyProfitRank h1:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: .08rem;
    height: .4rem;
    background: #D61F24;
}

.dailyProfitRank__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.dailyProfitRank__content-topThree {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    width: 100%;
    height: 3.33333rem;
    z-index: 1;
    margin-bottom: -.2rem;
    background: url(../images/stage.png) no-repeat center center/100% 100%
}

.dailyProfitRank__content-topThree__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 3rem;
    height: 3.46667rem
}

.dailyProfitRank__content-topThree__item:nth-child(2) {
    right: .10667rem
}

.dailyProfitRank__content-topThree__item:nth-child(3) {
    left: .16rem
}

.dailyProfitRank__content-topThree__item>div:first-of-type {
    position: relative;
    display: grid;
    place-items: center;
    width: 1.6rem;
    min-width: 1.6rem;
    height: 1.6rem;
    min-height: 1.6rem;
    border-radius: 50%;
    overflow: hidden
}

.dailyProfitRank__content-topThree__item>div:first-of-type>img {
    width: calc(100% - .06667rem);
    height: calc(100% - .06667rem)
}

.dailyProfitRank__content-topThree__item>div:last-of-type {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 1.78667rem;
    height: 1.82667rem
}

.dailyProfitRank__content-topThree__item>div:last-of-type img:first-of-type {
    position: relative;
    top: -.33333rem;
    left: -.25333rem;
    width: 1.14667rem
}

.dailyProfitRank__content-topThree__item>div:last-of-type img:last-of-type {
    width: 1.78667rem;
    height: .42667rem
}

.dailyProfitRank__content-topThree__item>span {
    color: #fff;
    padding: 0 .13333rem;
    text-align: center
}

.dailyProfitRank__content-topThree__item>span:first-of-type {
    padding:18% 8%;
    font-size: .32rem;
    width: 2.66667rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.dailyProfitRank__content-topThree__item>span:last-of-type {
    width: 2.66667rem;
    height: .66667rem;
    padding: .17333rem .18667rem;
    font-size: .28rem;
    line-height: .28rem;
    text-align: center;
    border-radius: 9rem;
    background: -webkit-linear-gradient(left,#FF4924 0%,#F2121A 100%);
    background: linear-gradient(90deg,#FF4924 0%,#F2121A 100%);
}

.dailyProfitRank__content-list {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    gap: .21333rem;
    width: 100%
}

.dailyProfitRank__content-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 1.36rem;
    padding: .14667rem .25333rem .14667rem .44rem;
    background: #fff;
    border-radius: .13333rem;
    box-shadow: 0 .05333rem .21333rem .02667rem #d0d0ed5c
}

.dailyProfitRank__content-list__item span.left-rank {
    margin-right: .41333rem;
    color: #9ea3ad;
    font-size: .48rem;
    font-weight: 500
}

.dailyProfitRank__content-list__item span.middle-name {
    color: #243047;
    font-size: .32rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 2.66667rem
}

.dailyProfitRank__content-list__item span.right-box {
    line-height: .66667rem;
    width: 3.46667rem;
    height: .66667rem;
    margin-left: auto;
    color: #fff;
    font-size: .4rem;
    text-align: center;
    border-radius: 9rem;
    background: -webkit-linear-gradient(left, #FF4924 0%, #F2121A 100%);
    background: linear-gradient(90deg, #FF4924 0%, #F2121A 100%);
}

.dailyProfitRank__content-list__item img {
    width: 1.06667rem;
    height: 1.06667rem;
    margin-right: .17333rem;
    border-radius: 50%
}


.btn {
    position: fixed;
    left: 50%;
    bottom: 2.4rem;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    width: 4.88rem;
    height: 1.06667rem;
    background: -webkit-linear-gradient(top,#FF605A 0%,#D61F24 100%);
    background: linear-gradient(180deg,#FF605A 0%,#D61F24 100%);
    border-radius: 1.06667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: .26667rem;
    padding-right: 1.06667rem;
    z-index: 2
}

.btn .line {
    position: absolute;
    top: .13333rem;
    right: 1rem;
    height: .8rem
}

.btn .close {
    position: absolute;
    top: .06667rem;
    right: .06667rem;
    font-size: .66667rem;
    margin: .13333rem
}

.btn .icon {
    width: .64rem;
    height: .64rem
}

.btn .text {
    font-weight: 700;
    font-size: .32rem;
    line-height: .32rem;
    color: #fff;
    text-shadow: 0 .02667rem .01333rem rgba(71,129,255,.5);
    margin-left: .13333rem;
    max-width: 2.88rem
}


/*================= 所有厂商游戏 =================*/
.onlineGames__container {
    height: 100%;
    background-color: #f5f0f0
}

.onlineGames__container .searchBox {
    margin: .26667rem auto;
    position: relative
}

.onlineGames__container .searchBox input {
    display: block;
    width: 9.36rem;
    height: .93333rem;
    padding: .06667rem;
    padding: .2rem 0 .2rem .66667rem;
    font-size: .37333rem;
    font-weight: 400;
    border: none;
    background: #ffffff;
    box-shadow: 0 .05333rem .21333rem #d0d0ed5c;
    border-radius: .8rem;
    margin: 0 auto
}

.onlineGames__container .searchBox input::-webkit-input-placeholder {
    color: #acafc2;
    font-size: .32rem;
    position: relative
}

.onlineGames__container .searchBox input::placeholder {
    color: #acafc2;
    font-size: .32rem;
    position: relative
}

.onlineGames__container .searchBox img {
    width: .64rem;
    height: .64rem;
    position: absolute;
    right: .66667rem;
    top: .13333rem
}

.onlineGames__container .navbar .navbar__content .navbar__content-center span {
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.onlineGames__container .navbar .navbar__content .navbar__content-center span.active {
    opacity: 0
}

.onlineGames__container .navbar .navbar__content .navbar__content-right {
    width: .77333rem
}

.onlineGames__container .navbar .navbar__content .navbar__content-right i {
    font-size: .64rem;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.onlineGames__container .navbar .navbar__content .navbar__content-right i.active {
    -webkit-transform: translateX(-6.8rem) translateY(.02667rem);
    transform: translate(-6.8rem) translateY(.02667rem)
}

.onlineGames__container .navbar .navbar__content .navbar__content-right span {
    position: absolute;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #666;
    font-size: .37333rem;
    line-height: .53333rem;
    white-space: nowrap;
    display: none
}

.onlineGames__container .navbar .navbar__content .navbar__content-right span.active {
    display: initial;
    top: .13333rem;
    right: 0
}

.onlineGames__container .fun-tabs {
    background-color: transparent;
    padding-bottom: .26667rem
}

.onlineGames__container .fun-tabs .fun-tab-item {
    width: 2.93333rem;
    height: .8rem;
    color: #80849c;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: .34667rem;
    box-shadow: 0 .08rem .16rem .05333rem #d0d0ed5c;
    background: #fff;
    margin-right: .26667rem;
    border-radius: .53333rem
}

.onlineGames__container .fun-tabs .fun-tab-item span {
    font-size: .32rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding: 0 .05333rem;
    width: 100%
}

.onlineGames__container .fun-tabs .fun-tab-item:last-child {
    margin-right: 0
}

.onlineGames__container .fun-tabs .fun-tab-item.activeClassName {
    background: -webkit-linear-gradient(bottom,#e77402 0%,#ff9902 100%);
    background: linear-gradient(0deg,#e77402 0%,#ff9902 100%)
}

.onlineGames__container .fun-tabs .fun-tab-item.activeClassName span {
    color: #fff
}

.onlineGames__container-tabBar {
    background-color: #f5f0f0;
    padding:0 .32rem;
}

.onlineGames__container-tabBar .van-tabs__nav--card {
    height: 1.36667rem;
    margin: 0
}

.onlineGames__container-tabBar .van-tabs__nav--card .van-tab--card {
    min-width: 2.53333rem;
    height: 1.33333rem;
    margin-inline:.06667rem;padding: 0 .13333rem;
    color: #80849c!important;
    border-radius: .13333rem
}

.onlineGames__container-tabBar .van-tabs__nav--card .van-tab--card>span {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 .13333rem
}

.onlineGames__container-tabBar .van-tabs__nav--card .van-tab--card>span img {
    max-height: 55%;
    max-width: 55%
}

.onlineGames__container-tabBar .van-tabs__nav--card .van-tab--card.van-tab--active {
    color: #fff!important;
    background: -webkit-linear-gradient(bottom,#e77402 0%,#ff9902 100%);
    background: linear-gradient(0deg,#e77402 0%,#ff9902 100%);
    box-shadow: 0 -.05333rem .13333rem #fff6f4 inset,0 .08rem .16rem #d0d0ed99
}

.onlineGames__container-gameType {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    gap: .28rem;
    width: 100%;
    margin-bottom: .8rem;
    padding-inline:.32rem}

.onlineGames__container-gameType__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: 2.93333rem;
    height: .8rem;
    color: #80849c;
    font-size: .34667rem;
    text-align: center;
    line-height: .8rem;
    border-radius: 9rem;
    background: #ffffff;
    box-shadow: 0 .08rem .16rem .05333rem #d0d0ed5c
}

.onlineGames__container-gameType__item.active {
    color: #fff;
    background: -webkit-linear-gradient(bottom,#e77402 0%,#ff9902 100%);
    background: linear-gradient(0deg,#e77402 0%,#ff9902 100%);
    box-shadow: 0 -.05333rem .13333rem #fff6f4 inset,0 .08rem .16rem #d0d0ed99
}

.van-tabs__content {
    padding-bottom: 1rem;
}

.onlineGames__container-list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 4rem;
    grid-gap: .26667rem .26667rem;
    /* height: calc(100vh - 174px);
    overflow-y: auto */
}

.onlineGames__container-list:not(:first-child) {
    display: none;
}

.onlineGames__container-list__item {
    width: 100%;
    height: 3.96rem;
    border-radius: .06667rem;
    background: #f2e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.onlineGames__container-list__item img {
    width: 2.89333rem;
    height: 2.89333rem;
    object-fit: cover;
    border-radius: .06667rem
}

.onlineGames__container-list__item span {
    display: block;
    width: 100%;
    height: .77333rem;
    line-height: .77333rem;
    font-size: .32rem;
    text-align: center;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-inline:.26667rem;overflow: hidden
}

.onlineGames__container-list.miniGames {
    height: calc(100vh - 1.6rem)
}





/*================= 游戏查看全部列表 =================*/

.fish_game {
    min-height: calc(100% - 54px);
    height: auto;
    padding: .32rem .32rem .82667rem;
    background: #ffffff;
}

.fish_game .fish_list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: .32rem;
}

.fish_game .fish_list .gameImg {
    width: 100%;
    height: 100%;
}



/*=============== lottery列表 ===============*/

.lottery_game {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: .32rem;
    margin-bottom: .6rem
}

.lottery_game .other_img {
    width: 100%;
    /* height: 100%; */
    border-radius: .26667rem;
    padding: .2rem 0;
}
.lottery_game a:nth-child(1) .other_img{
    background: linear-gradient(157deg, #ED2C33 0%, #FECDC9 100%);
    box-shadow: 0 -.05333rem .13333rem #fff6f4 inset, 0 .10667rem .21333rem .05333rem #d0d0ed5c;
}
.lottery_game a:nth-child(2) .other_img {
    background: linear-gradient(157deg, #ED2C33 0%, #FECDC9 100%);
    box-shadow: 0 -.05333rem .13333rem #fff6f4 inset, 0 .10667rem .21333rem .05333rem #d0d0ed5c;
}
.lottery_game a:nth-child(3) .other_img {
    background: linear-gradient(157deg, #ED2C33 0%, #FECDC9 100%);
    box-shadow: 0 -.05333rem .13333rem #fff6f4 inset, 0 .10667rem .21333rem .05333rem #d0d0ed5c;
}
.lottery_game a:nth-child(4) .other_img {
    background: linear-gradient(157deg, #ED2C33 0%, #FECDC9 100%);
    box-shadow: 0 -.05333rem .13333rem #fff6f4 inset, 0 .10667rem .21333rem .05333rem #d0d0ed5c;
}
.lottery_game a:nth-child(5) .other_img {
    background: linear-gradient(157deg, #ED2C33 0%, #FECDC9 100%);
    box-shadow: 0 -.05333rem .13333rem #fff6f4 inset, 0 .10667rem .21333rem .05333rem #d0d0ed5c;
}
.lottery_game a:nth-child(6) .other_img {
    background: linear-gradient(157deg, #ED2C33 0%, #FECDC9 100%);
    box-shadow: 0 -.05333rem .13333rem #fff6f4 inset, 0 .10667rem .21333rem .05333rem #d0d0ed5c;
}